<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center"> New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="invalid-feedback">
                        Please Enter a Title
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="invalid-feedback">
                        Please Enter a Location
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Choose image(s)</label>
                    <input class="form-control" name="image" type="file" id="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)"
                            placeholder="0.00" name="campground[price]" required>
                        <div class="invalid-feedback">
                            Please Enter a Price
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" required
                        name="campground[description]"></textarea>
                    <div class="invalid-feedback">
                        Please Enter a Description
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                    <a href="/campgrounds" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>